// Sækja config
// Allir stílar fyrir bækur
@import './config';

.books {
    margin-bottom: $marginbottom;
  }
  
  .books .col {
    margin-bottom: $marginbottom;
  }
  
  .book {
    margin-right: 1rem;
    margin-bottom: $marginbottom;
    width: 100%;
    height: 100%;
    min-width: 160px;
  
    display: flex;
    flex-direction: column;
  
    background-color: $lightgrey;
    .content {
      padding: 0.5rem;
      border: 1px solid $medgrey;
      border-top: 0;
      
      flex: 1;
    
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .image {
      height: 200px;
      overflow: hidden;
    }
    .image img {
      object-fit: cover;
      width: 100%;
      height: 200px;
    
      transition: $transition;
    }
    h3 {
      margin-bottom: $marginbottom/4;
      font-size: 1.5rem;
    }
    
    h4 {
      margin-bottom: $marginbottom/2;
      font-size: 0.875rem;
      font-weight: normal;
      text-transform: uppercase;
    }
    .buy {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .buy .price {
      margin-right: 0.5rem;
    }
  }

  .book:hover {
    .image img {
      transform: scale(1.3);
    }
  }
  
  