// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg
$maxwidth: 1400px;
$white: #eeeeee;
$darkgrey: #222222;
$black: #000000;
$lightgrey: #cccccc;
$medgrey: #999999;
$transition: transform 300ms ease-in-out;
$marginbottom: 2rem;