// Sækja config
// Allir stílar fyrir events
@import './config';

.events {
  margin-bottom: $marginbottom;

  .col {
    margin-bottom: $marginbottom;
  }
}

.event {
  background-color: $lightgrey;
  height: 100%;
  min-height: 250px;
  position: relative;
  width: 100%;
  word-break: break-word;

  h3 {
    margin-bottom: $marginbottom/2;
  }

  p {
    font-style: italic;
    margin-bottom: $marginbottom/2;
  }

  ul {
    font-style: italic;
    list-style: none;
  }

  .card {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: $transition;
  }

  .face {
    backface-visibility: hidden;
    height: 100%;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
  }

  .face.back {
    transform: rotateY(180deg);
  }

  .front {
    display: flex;
  }

  .front h3 {
    font-size: 2em;
    margin: auto;
    text-align: center;
  }

  .back {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

.event:hover .card {
  transform: rotateY(180deg);
}

.event:last-child {
  margin-right: 0;
}
