// Sækja config
// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
@import './config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $darkgrey;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

a {
  color: $darkgrey;
}

button {
  background-color: $darkgrey;
  border: 1px solid $black;
  border-radius: 5px;
  color: $white;
  padding: 0.5rem;
  transition: color $transition, background-color $transition;
  word-break: initial;
}

button:hover {
  background-color: $white;
  color: $darkgrey;
}

button:active {
  background-color: $darkgrey;
  border: 1px solid $black;
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}
